html {
    font-size: 10px !important;
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    background-color: $color5;
    color: $color2;
    @extend .robot;
    position: relative;
}

.page-width {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}
#accent {
    position: absolute;
    top: 80px;
    right: -80px;
    width: 280px;
    height: 280px;
    background-color: $color2;
    border-radius: 34% 66% 70% 30% / 30% 43% 57% 70%;
    opacity: 0.3;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    position: relative;
    @include sp {
        flex-wrap: wrap;
    }
    h1 {
        font-size: 4.2rem;
        @extend .palette;
        @include sp {
            width: 100%;
            text-align: center;
        }
    }
    p {
        margin-bottom: 1em;
        &.birthday {
            margin-bottom: 3em;
        }
        &.name {
            font-size: 2.4rem;
            margin-bottom: 2em;
            font-weight: 600;
            letter-spacing: 0.17em;
            .name-en {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
        &#create-pdf {
            cursor: pointer;
        }
        &.links {
            display: flex;
            gap: 10px;
            a {
                font-size: 1.8rem;
            }
        }
    }
}

#radar-chart {
    margin-bottom: 120px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    @include md {
        flex-wrap: wrap;
    }
    .canvas {
        flex-basis: 75%;
        width: 100% !important;
        max-width: 600px !important;
        height: 420px !important;
        @include md {
            flex-basis: 100%;
        }
    }
    .lang-desc {
        flex-basis: 25%;
        @include md {
            flex-basis: 100%;
            max-width: 600px;
            width: 100%;
            margin: auto;
        }
        .lang-select {
            position: relative;
            padding-right: 1.5em;
            cursor: pointer;
            width: 100%;
            .selector {
                p {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 0.4em;
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
            .toggle-icon {
                position: absolute;
                right: 0;
                top: 3px;
                i {
                    &.fa-angle-up {
                        display: none;
                    }
                }
            }

            &.active {
                .selector {
                    p {
                        display: block;
                        &.active {
                            &::before {
                                content: "\e876";
                                font-family: "Material Icons Sharp";
                                margin-right: 0.5em;
                            }
                        }
                    }
                }
                .toggle-icon {
                    i {
                        &.fa-angle-down {
                            display: none;
                        }
                        &.fa-angle-up {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .desc {
            .wrap {
                display: none;
                &.active {
                    display: block;
                }
                ul {
                    margin-top: 56px;
                    li {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}

#works {
    padding: 120px 16px;
    h2 {
        text-align: center;
        font-size: 4.2rem;
        letter-spacing: 0.15em;
    }

    .work {
        margin: 120px auto;
        display: flex;
        gap: 40px;
        &.reverse {
            flex-direction: row-reverse;
        }
        @include md {
            flex-wrap: wrap;
        }
        .image {
            flex-basis: 50%;
            @include md {
                flex-basis: 100%;
            }
            img {
                display: inline-block;
                max-width: 100%;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            }
        }
        .desc {
            flex-basis: 50%;
            @include md {
                flex-basis: 100%;
            }
            h3 {
                font-size: 2.4rem;
                margin-bottom: 2em;
                font-weight: 600;
            }
            ul {
                margin-bottom: 6rem;
                li {
                    margin-bottom: 0.5em;
                    letter-spacing: 0.12em;
                }
            }
            p {
                line-height: 1.25em;
                letter-spacing: 0.12em;
                a {
                    border-bottom: 1px solid $color1;
                }
            }
        }
    }
}
