html {
    font-size: 10px !important;
    @include xs {
        font-size: 9px !important;
    }
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    background-color: $color5;
    color: $color2;
    @extend .robot;
    position: relative;
}

.page-width {
    width: 100%;
    max-width: 1400px;
    padding: 0 16px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 4rem;
    @extend .raleway;
    a {
        display: inline-block;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
}

ul.works {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem 3rem;
    li.work {
        display: flex;
        flex: 0 0 30%;
        border-bottom: solid 1px rgba($color1, 0.1);
        padding-right: 2.5rem;
        padding-bottom: 4rem;
        @include lg {
            flex: 0 0 46%;
        }
        @include md {
            flex: 0 0 100%;
        }
        .icon {
            padding-right: 3.5rem;
            i {
                font-size: 5rem;
                color: $color1;
            }
        }
        .content {
            h2 {
                font-size: 2.4rem;
                margin-bottom: 1em;
                @extend .raleway;
            }
            p {
                font-size: 1.4rem;
                opacity: 0.7;
                line-height: 1.5em;
            }
        }
        ul.links {
            margin: 1em 0;
            display: flex;
            gap: 1rem;
            a {
                font-size: 2rem;
                opacity: 0.7;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

footer {
    text-align: center;
    background-color: $color1;
    color: $color5;
    margin-top: 6rem;
    .inner {
        padding-top: 4rem;
        padding-bottom: 4rem;
        p {
            margin-bottom: 1em;
            font-size: 1.4rem;
            &.links {
                display: flex;
                gap: 1.5rem;
                align-items: center;
                justify-content: center;
                a {
                    font-size: 2rem;
                }
            }
        }
    }
}
