$color1: #162447;
$color2: #1f4068;
$color3: #1b1b2f;
$color4: #e43f5a;
$color5: #ffffff;

//break point
$break-point_xl: 1200px;
$break-point_lg: 1024px;
$break-point-md: 768px;
$break-point-sp: 540px;
$break-point-xs: 375px;

//palette
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
//robot
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
//raleway
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
//rubik
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.palette {
    font-family: "Palette Mosaic", cursive;
}
.robot {
    font-family: "Roboto", sans-serif;
}
.raleway {
    font-family: "Raleway", sans-serif;
}
.rubik {
    font-family: "Rubik", sans-serif;
}
