$color1: #162447;
$color2: #1f4068;
$color3: #1b1b2f;
$color4: #e43f5a;
$color5: #ffffff;

.bely {
    font-family: "bely-display", sans-serif;
    font-style: normal;
}

.biz {
    font-family: biz-udpgothic, sans-serif;
    font-style: normal;
}