.wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 16px;
  margin-top: 120px;
  margin-bottom: 120px;


  h2 {
    font-size: 24px;
    margin-bottom: 1.2em;
  }
}

.texts {
  max-width: 780px;

  p {
    font-size: 14px;
    line-height: 1.5;
  }
}

.skill {
  margin-top: 10px;
  margin-bottom: 20px;

  ul {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}