@use '../variables';
@use '../mixins';

.section {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .section-settings;

    h2 {
        @extend .bely;
        font-weight: 600;
        font-size: 5.4rem;
        letter-spacing: 0.29em;

        @include mixins.media('phone') {
            font-size: 2.8rem;
        }
    }
}